:root {
  --color-border: #d8d5ce;
  --color-primary: #ff451a;
  --color-surface-alt: #fff;
  --color-surface: #f9f8f5;
  --color-text-muted: #6b6b6b;
  --color-text: #1f1f1f;

  --radius-lg: 16px;
  --radius-sm: 8px;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background: var(--color-surface-alt);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
}
